
.icon-ok:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-picture:before { content: '\e802'; } /* '' */
.icon-forward:before { content: '\e803'; } /* '' */
.icon-folder-open:before { content: '\e804'; } /* '' */
.icon-folder:before { content: '\e805'; } /* '' */
.icon-play:before { content: '\e806'; } /* '' */
.icon-stop:before { content: '\e807'; } /* '' */
.icon-pause:before { content: '\e808'; } /* '' */
.icon-to-end:before { content: '\e809'; } /* '' */
.icon-to-end-alt:before { content: '\e80a'; } /* '' */
.icon-to-start:before { content: '\e80b'; } /* '' */
.icon-cloud:before { content: '\e80c'; } /* '' */
.icon-check:before { content: '\e80d'; } /* '' */
.icon-reply-1:before { content: '\e80e'; } /* '' */
.icon-reply-all-1:before { content: '\e80f'; } /* '' */
.icon-forward-1:before { content: '\e810'; } /* '' */
.icon-mic:before { content: '\e811'; } /* '' */
.icon-trash:before { content: '\e812'; } /* '' */
.icon-cup:before { content: '\e813'; } /* '' */
.icon-ccw:before { content: '\e814'; } /* '' */
.icon-cw:before { content: '\e815'; } /* '' */
.icon-arrows-ccw:before { content: '\e816'; } /* '' */
.icon-th-list-outline:before { content: '\e817'; } /* '' */
.icon-th-list:before { content: '\e818'; } /* '' */
.icon-th-large-outline:before { content: '\e819'; } /* '' */
.icon-th-large:before { content: '\e81a'; } /* '' */
.icon-th:before { content: '\e81b'; } /* '' */
.icon-th-outline:before { content: '\e81c'; } /* '' */
.icon-attach-outline:before { content: '\e81d'; } /* '' */
.icon-attach:before { content: '\e81e'; } /* '' */
.icon-ok-1:before { content: '\e81f'; } /* '' */
.icon-ok-outline:before { content: '\e820'; } /* '' */
.icon-user-outline:before { content: '\e821'; } /* '' */
.icon-user-1:before { content: '\e822'; } /* '' */
.icon-users-outline:before { content: '\e823'; } /* '' */
.icon-users:before { content: '\e824'; } /* '' */
.icon-user-add-outline:before { content: '\e825'; } /* '' */
.icon-user-add:before { content: '\e826'; } /* '' */
.icon-headphones:before { content: '\e827'; } /* '' */
.icon-desktop:before { content: '\e828'; } /* '' */
.icon-laptop:before { content: '\e829'; } /* '' */
.icon-tablet:before { content: '\e82a'; } /* '' */
.icon-mobile:before { content: '\e82b'; } /* '' */
.icon-search:before { content: '\e82c'; } /* '' */
.icon-undo:before { content: '\e82d'; } /* '' */
.icon-lock-open:before { content: '\e82e'; } /* '' */
.icon-lock:before { content: '\e82f'; } /* '' */
.icon-eye:before { content: '\e830'; } /* '' */
.icon-rss:before { content: '\e831'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-basket-alt:before { content: '\e833'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-basket:before { content: '\e835'; } /* '' */
.icon-volume-up:before { content: '\e836'; } /* '' */
.icon-clouds-flash-alt:before { content: '\e837'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-mail:before { content: '\e83a'; } /* '' */
.icon-airport:before { content: '\e83b'; } /* '' */
.icon-android:before { content: '\e83c'; } /* '' */
.icon-rss-1:before { content: '\e83d'; } /* '' */
.icon-twitter:before { content: '\e83e'; } /* '' */
.icon-youtube:before { content: '\e83f'; } /* '' */
.icon-gmail:before { content: '\e840'; } /* '' */
.icon-gplus:before { content: '\e841'; } /* '' */
.icon-facebook:before { content: '\e842'; } /* '' */
.icon-attach-1:before { content: '\e843'; } /* '' */
.icon-music:before { content: '\e844'; } /* '' */
.icon-trash-1:before { content: '\e845'; } /* '' */
.icon-mic-off:before { content: '\f047'; } /* '' */
.icon-mic-1:before { content: '\f048'; } /* '' */
.icon-user-2:before { content: '\f061'; } /* '' */
.icon-user-male:before { content: '\f062'; } /* '' */
.icon-user-female:before { content: '\f063'; } /* '' */
.icon-users-1:before { content: '\f064'; } /* '' */
.icon-zoom-in:before { content: '\f07e'; } /* '' */
.icon-zoom-out:before { content: '\f07f'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-reply-all:before { content: '\f122'; } /* '' */
.icon-dot-circled:before { content: '\f192'; } /* '' */
.icon-mail-squared:before { content: '\f199'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-circle-notch:before { content: '\f1ce'; } /* '' */
.icon-circle-thin:before { content: '\f1db'; } /* '' */
.icon-calc:before { content: '\f1ec'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-bicycle:before { content: '\f206'; } /* '' */
.icon-motorcycle:before { content: '\f21c'; } /* '' */
.icon-battery-4:before { content: '\f240'; } /* '' */
.icon-battery-3:before { content: '\f241'; } /* '' */
.icon-battery-2:before { content: '\f242'; } /* '' */
.icon-battery-1:before { content: '\f243'; } /* '' */
.icon-mixcloud:before { content: '\f289'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-googleplus-rect:before { content: '\f309'; } /* '' */
.icon-search-1:before { content: '\f50d'; } /* '' */
